{% extends 'base.html.twig' %}

{% block title %}Profil - {{app.user.partner.name}}{% endblock %}

{% block body %}

<h2 class="text-xl text-semibold text-center pt-[7%]">Profil partenaire</h2>

<section>
{% if app.user %}
<p><span class="font-semibold">Partenaire</span>: {{app.user.partner.name}}</p>
<p><span class="font-semibold">Mail</span>: {{app.user.email}}</p>
<p><span class="font-semibold">Mot de passe</span>: <a href=""><span class="text-red-500">Modifier mot de passe</span></a>  </p>
<p><span class="font-semibold">Description</span>: {{app.user.partner.description | raw ? : 'Aucune description'}} </p>
{% for activity in activities %}
<p><span class="font-semibold">Activité</span>: {{activity.name ? : 'Aucune activité'}} </p>
{% endfor %}
{% endif %}
</section>




{% endblock %}
