{% extends 'base.html.twig' %}

{% block title %}Connexion - Village Afpa
{% endblock %}

{% block body %}
	<form method="post">
		{% if error %}
			<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
		{% endif %}

		{% if app.user %}
			<div class="mb-3">
				You are logged in as
				{{ app.user.userIdentifier }},
				<a href="{{ path('app_logout') }}">Logout</a>
			</div>
		{% endif %}
		<div class="flex justify-center pb-[8%]">
			<div class="mt-[300px] border bg-white w-[50%] rounded-lg pt-[2%] shadow-xl">
				<h1 class="h3 mb-3 font-weight-normal text-2xl font-semibold uppercase text-orange-500 text-center">Connexion</h1>
				<p class="pt-2 pb-5 text-center text-xl font-semibold">Vous êtes partenaire de l'Afpa au sein du Village de Châtellerault ? Identifiez-vous ci-dessous :</p>
				<div class="flex flex-col items-center justify-center gap-3">
					<label for="inputAccountNumber" class="font-semibold text-lg ">Identifiant de compte :</label>
					<input type="text" value="{{ last_username }}" name="accountNumber" id="inputAccountNumber" class="form-control rounded-lg" autocomplete="accountNumber" required autofocus>
					<label for="inputPassword" class="font-semibold text-lg ">Mot de passe :</label>
					<input type="password" name="password" id="inputPassword" class="form-control rounded-lg" autocomplete="current-password" required>
				</div>
				<div class="flex flex-col items-center justify-center py-4">
					<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

					<div class="checkbox mb-3">
						<label>
							<input type="checkbox" name="_remember_me">
							Se souvenir de moi
						</label>
					</div>
					<button class="btn btn-lg btn-primary border bg-orange-500 rounded-lg text-white px-5 py-2 hover:bg-orange-600" type="submit">
						Connexion
					</button>

				</div>
				<div class="text-center py-6">
					<a href="{{path('app_forgot_password_request')}}" class="text-orange-500 text-sm pt-3">
						Mot de passe oublié ?
					</a>
				</div>
			</div>
		</div>
	</form>

{% endblock %}
