{% extends 'base.html.twig' %}

{% block title %}
	{{ partner.name }}
	- Village des solutions
{% endblock %}

{% block body %}
	<div class="container mx-auto py-12 px-6">

		<h2 class="text-4xl font-semibold text-center text-gray-800 uppercase">{{ partner.name }}</h2>

		{% if partner.logo %}
			<div class="flex justify-center mt-6 pt-[3%]">
				<img src="{{ asset(partner.logo) }}" class="h-24" alt="Logo de {{ partner.name }}">
			</div>
		{% endif %}

		<div class="mt-8 bg-gray-100 p-6 rounded-lg shadow-lg">
			<h3 class="text-2xl font-semibold text-gray-800">Présentation</h3>
			<p class="mt-4 text-gray-700">
				{{partner.description ?: 'Aucune description'}}
			</p>
		</div>
		<div class="mt-8 bg-blue-50 p-6 rounded-lg shadow-lg">
			<h3 class="text-2xl font-semibold text-gray-800">Activités proposées</h3>
			<ul class="list-disc pl-6 mt-4 text-gray-700">
				{% for activities in partner.activities %}
					<li>{{ activities.name  }}</li>
				{% else %}
					<p class="text-center">Aucune activité proposée</p>
				{% endfor %}
			</ul>
		</div>
		<div class="mt-8 bg-green-50 p-6 rounded-lg shadow-lg">
			<h3 class="text-2xl font-semibold text-gray-800">Agenda des interventions de
				{{partner.name}}</h3>
			<table class="min-w-full mt-4 table-auto">
				<thead>
					<tr class="text-left border-b-2 border-gray-300">
						<th class="px-4 py-2 text-gray-800">Date</th>
						<th class="px-4 py-2 text-gray-800">Heure</th>
						<th class="px-4 py-2 text-gray-800">Description</th>
					</tr>
				</thead>

				<tbody>
					{% for intervention in interventions %}
						<tr class="border-b border-gray-200">
							<td class="px-4 py-2 text-gray-700">{{ intervention.date|date('d F Y') }}</td>
							<td class="px-4 py-2 text-gray-700">{{ intervention.date|date('H:i') }}
								-
								{% if intervention.enddate %}
									{{ intervention.enddate|date('H:i') }}
								{% else %}
									N/A
								{% endif %}
							</td>
							<td class="px-4 py-2 text-gray-700">{{ intervention.description | raw  ?: 'Aucune description disponible.' }}</td>
							{% if app.user %}
								<td class="px-4 py-2 text-gray-700">
									{% if partner.interventions == app.user.partner.interventions %}
										<a href="{{path("app_delete", {id: intervention.id})}}">
											<button class="rounded-full group flex items-center justify-center focus-within:outline-red-500">
												<svg width="34" height="34" viewbox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
													<circle class="fill-red-50 transition-all duration-500 group-hover:fill-red-400" cx="17" cy="17" r="17" fill=""/>
													<path class="stroke-red-500 transition-all duration-500 group-hover:stroke-white" d="M14.1673 13.5997V12.5923C14.1673 11.8968 14.7311 11.333 15.4266 11.333H18.5747C19.2702 11.333 19.834 11.8968 19.834 12.5923V13.5997M19.834 13.5997C19.834 13.5997 14.6534 13.5997 11.334 13.5997C6.90804 13.5998 27.0933 13.5998 22.6673 13.5997C21.5608 13.5997 19.834 13.5997 19.834 13.5997ZM12.4673 13.5997H21.534V18.8886C21.534 20.6695 21.534 21.5599 20.9807 22.1131C20.4275 22.6664 19.5371 22.6664 17.7562 22.6664H16.2451C14.4642 22.6664 13.5738 22.6664 13.0206 22.1131C12.4673 21.5599 12.4673 20.6695 12.4673 18.8886V13.5997Z" stroke="#EF4444" stroke-width="1.6" stroke-linecap="round"/>
												</svg>
											</button>
										</a>
										{% else %}
									{% endif %}
								</td>
							{% endif %}
						</tr>
					{% else %}
						<tr>
							<td colspan="3" class="px-4 py-2 text-gray-700 text-center">Aucune intervention prévue.</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>

		{% if partner.website %}
			<div class="flex justify-center pt-5">
				<a href="{{ partner.website }}">
					<button class="border bg-orange-500 text-white rounded-lg px-[2%] font-semibold border-white hover:bg-orange-400">Visiter le site du partenaire  >></button>
				</a>
			</div>
		{% endif %}

	</div>
{% endblock %}
