{% extends 'base.html.twig' %}

{% block title %}Village des Solutions (Afpa Chatellerault) - Accueil
{% endblock %}

{% block body %}


	<section>

		<p class="text-yellow-400 font-bold pb-8 pt-[6%] text-xl">A propos...</p>
		<p class="font-bold pb-4 text-xl">Le Village est un tiers-lieu unique d'insertion sociale et professionnelle ouvert à tous et favorisant la coopération enter les acteurs du territoire</p>
		<p class="pb-12 text-lg">Un
			<span class="text-orange-500 font-bold">Village des solutions</span>
			est, de ce fait, un
			<span class="font-bold">tiers-lieu d'innovation sociale</span>
			et d'assemblage de solutions,
			<span class="font-bold">ouvert aux partenaires</span>
			et qui se caractérisent notamment par :
		</p>

		<div class="flex flex-row justify-center gap-24 items-center">
			<div class="flex flex-col">
				<div class="text-orange-500 font-bold">Des partenariats aux services de l'accompagnement des parcours</div>
				<div>Co-construction de solution avec les partenaires pour<br>
					accompagner les publics en insertion face à leurs<br>
					problématiques clés : santé, mobilité, logement, parentalité, numérique</span>
			</div>
		</div>
		<img src="{{asset('images/partnershiplogo.png')}}" class="border rounded-full border-orange-500" alt="partnership logo">

		<img src="{{asset('images/meetinglogo.png')}}" class="border rounded-full border-orange-500 h-16" alt="meeting logo">
		<div class=="flex flex-col">
			<div class="text-orange-500 font-bold">Un conseil de village</div>
			<div>Le conseil du village a lieu
				<span class="font-semibold">tous les trimestres</span>
				et rassemble
				<span class="font-semibold">tous les usagers du Village</span>:<br>
				partenaires,publics, Afpa, entreprises, acteurs institutionnels etc.</div>
		</div>

	</div>
	{# <div
		class="flex justify-center"><img src="{{asset('images/afpalogo.png')}}" class="h-36 border border-white rounded-full " alt="Afpa village des solutions Logo" />
	</div> #}

	<div class="flex flex-row justify-center gap-24 items-center">
		<div class="flex flex-col">
			<div class="text-orange-500 font-bold">L'accueil des partenaires en réidence</div>
			<div>Mise à disposition de locaux sur le Village pour<br>
				<span class="font-semibold">l'installation ponctuelle ou permanentes</span>
				des partenaires sur place.</div>
		</div>
		<img src="{{asset('images/homeworklogo.png')}}" class="border rounded-full border-orange-500" alt="home work logo">

		<img src="{{asset('images/reflexionlogo.png')}}" class="border rounded-full border-orange-500" alt="reflexion logo">
		<div class="flex flex-col">
			<div class="text-orange-500 font-bold">Un incubateur de solutions</div>
			<div>L'incabuteur des solutions est un dispositif innovant<br>
				<span class="font-semibold">d'ingénierie de réponse à des appels à projet</span>
				du territoire en consortium.</div>
		</div>

	</div>

</section>

<p class="font-bold pt-8 pb-8 text-xl">Une vocation à repondre aux problématiques d'insertion socioprofessionnelles sur le territoire...</p>

<section class="flex flew-row space-x-8 container mx-auto">


	<div class="w-1/2 pt-8">
		<p class="font-semibold pb-8 text-lg">Le monde de l'insertion sociale et professionnelle est confronté à des enjeux...
		</p>
		<ul>
			<div class="flex flex-row item-center">
				<img src="{{asset('images/firedlogo.png')}}" class="h-16" alt="fired logo ">
				<div class="flex flex-col pb-[10%]">
					<li class="text-[#b5d997] font-semibold">Des freins périphériques à l'emploi</li>
					<p>Publics, partenaires, entreprises , associations, etc.</p>
				</div>
			</div>
			<div class="flex flex-row item-center">
				<img src="{{asset('images/linklogo.png')}}" class="h-16" alt="link logo ">
				<li class="text-gray-500 font-semibold">Des difficultés de mise en relation entre l'offre et la demande de formation professionnelle</li>
			</div>
			<div class="flex flex-row item-center">
				<img src="{{asset('images/ecosystemlogo.png')}}" class="h-16" alt="ecosystem logo ">
				<div class="flex flex-col pt-[10%]">
					<li class="text-orange-500 font-semibold">Un besoin des acteurs de l'insertion professionnelle de se rapprocher et de travailler en écosystème</li>
					<p>Entreprises, associations, acteurs instiutionnels, etc.</p>
				</div>
			</div>
		</ul>
	</div>

	<div class="w-1/2 pt-8">
		<p class="font-semibold pb-8 text-lg">... auxquels les Villages des solutions répondent sur chaque territoire</p>
		<ul>
			<div class="flex flex-row item-center">
				<img src="{{asset('images/puzzlelogo.png')}}" class="h-16" alt="puzzle logo ">
				<div class="flex flex-col pb-[10%]">
					<li class="text-[#b5d997] font-semibold">Un accompagnement des parcours de vie des publics sur les principaux freins à l'emploi</li>
					<p>Mobilité, santé , médiation numérique, logement, parentalité</p>
				</div>
			</div>
			<div class="flex flex-row item-center">
				<img src="{{asset('images/socialspacelogo.png')}}" class="h-16" alt="social spaces logo ">
				<div class="flex flex-col pb-[10%]">
					<li class="text-gray-500 font-semibold">Des lieux ouverts à tous acceuillant une pluralité d'acteurs</li>
					<p>Publics, partenaires, entreprises , associations, etc.</p>
				</div>
			</div>
			<div class="flex flex-row item-center">
				<img src="{{asset('images/sociallinklogo.png')}}" class="h-16" alt="social link logo ">
				<div class="flex flex-col pb-[10%]">
					<li class="text-orange-500 font-semibold">Des lieux collaboratifs de rencontres et d'échanges</li>
					<p>Groupes de travail thématiques, incubateur des solutions</p>
				</div>
			</div>

		</ul>
	</div>

</section>
<section class="pt-[5%]  ">

	<p class="font-bold text-yellow-400 pb-8 text-xl">Les thèmes et problématiques clés...</p>
	<p class="text-lg">Tout au long de son parcours, une personne peut etre confrontée à des
		<span class="font-bold">problématiques</span>
		qui peuvent faire échouer son insertion. Ces problématiques sont de nature plurielle:
	</p>
	<div class="grid grid-cols-4">
		{% for problema in problematics %}

			{% set color = '' %}
			{% if problema.name == 'Logement' %}
				{% set color = '[#005098]' %}
			{% elseif problema.name == 'Numérique' %}
				{% set color = '[#a5a5a5]' %}
			{% elseif problema.name == 'Parentalité' %}
				{% set color = '[#8dcfb1]' %}
			{% elseif problema.name == 'Santé' %}
				{% set color = '[#b90f5f]' %}
			{% elseif problema.name == 'Mobilité' %}
				{% set color = '[#ea5b0c]' %}
			{% elseif problema.name == 'Environnement' %}
				{% set color = '[#169d9d]' %}
			{% elseif problema.name == 'Argent' %}
				{% set color = '[#169d9d]' %}
			{% elseif problema.name == 'Psychologie' %}
				{% set color = '[#b90f5f]' %}
			{% endif %}
			<a href="#">
				<div class="hover:bg-{{color}} hover:text-white relative flex flex-col my-6 bg-white shadow-sm border border-{{color}} rounded-lg w-96">
					<div class="p-4">
						<h5 class="mb-2 text-{{color}} font-semibold  uppercase text-center ">
							{{problema.name}}
						</h5>
						<p class="text-{{color}} leading-normal font-light">
							{{problema.description}}
						</p>

					</div>
				</div>
			</a>
		{% endfor %}
	</div>
	<p class="text-gray-500 font-semibold">La mission principale du Village sera d'apporter des réponses à ces freins afin d'améliorer les parcours d'insertion des publics sur le territoire
	</p>
</section>
<section class="pt-[5%]">

	<p class="font-bold text-yellow-400 text-xl pb-8">Panorama des solutions actuellement déployées sur le Village de Chatellerault</p>

	<div>
		<div class="grid grid-cols-3 container mx-auto gap-4">
			{% for category in categories %}

				{% set color = '' %}
				{% if category.name == 'Logement' %}
					{% set color = '[#005098]' %}
				{% elseif category.name == 'Numérique' %}
					{% set color = '[#a5a5a5]' %}
				{% elseif category.name == 'Parentalité' %}
					{% set color = '[#8dcfb1]' %}
				{% elseif category.name == 'Santé' %}
					{% set color = '[#b90f5f]' %}
				{% elseif category.name == 'Mobilité' %}
					{% set color = '[#ea5b0c]' %}
				{% elseif category.name == 'Marqueurs différenciants/Autre' %}
					{% set color = '[#169d9d]' %}
				{% endif %}
				<div class="flex flex-col bg-white border shadow-sm rounded-xl dark:bg-neutral-900 dark:border-neutral-700 dark:shadow-neutral-700/70">
					<div class="bg-{{color}} border-b rounded-t-xl py-3 px-4 md:py-4 md:px-5 dark:bg-neutral-900 dark:border-neutral-700">
						<p class=" font-semibold uppercase mt-1 text-sm text-white dark:text-neutral-500">
							{{category.name}}
						</p>
					</div>
					<div class="p-4 md:p-5">
						{% for partner in category.partners %}
							<a href="{{path('app_partner', {id: partner.id})}}">
								<h3 class="text-lg hover:text-gray-200 font-semibold text-gray-800 dark:text-white">
									{{partner.name}}
								</h3>
							</a>
						{% endfor %}
					</div>
				</div>
			{% endfor %}
		</div>
	</div>

</section>
<section>

	<p class="text-xl font-bold ">Mur des partenaires</p>

	{# {% for partnerlogo in partner %}
			<img src="{{asset(partnerlogo.logo) }}" alt="logo partenaire">
			{% endfor %} #}


</section>

<section>
	<p class="font-semibold text-lg">Vous avez des questions ou vous avez besoin de renseignements supplémentaires ?
		<a href="">
			<span class="text-gray-500 font-semibold">Contactez-nous :</span>
		</a>
	</p>
	<div></div>

</section>{% endblock %}
