{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<section class="pt-[6%]">
<h1 class="text-xl text-center font-semibold">Planifier une interventions</h1>

{{form_start(form)}}

{{form_row(form.title)}}
{{form_row(form.date, {
    'label': 'Debut',
}) }}
{{form_row(form.enddate, {
    'label': 'Fin',
}) }}
{{form_row(form.description)}}

<button type="submit" class="border bg-green-300 rounded-lg text-white px-3 py-3">Ajouter l'intervention</button>

{{form_end(form)}}

</section>


<section>
<h1 class="text-xl text-center font-semibold pb-5">Vos interventions</h1>

<div class="relative flex flex-col my-6 bg-white shadow-sm border border-slate-200 rounded-lg w-96">
  <div class="p-4">
    <h5 class="mb-2 text-slate-800 text-xl font-semibold">
      Website Review Check Text
    </h5>
    <p class="text-slate-600 leading-normal font-light">
      The place is close to Barceloneta Beach and bus stop just 2 min by walk and near to Naviglio where you can enjoy the main night life in Barcelona.
    </p>
  </div>
</div>

</section>

{% endblock %}
